# API key
.envrc
# Notebook checkpoints
.ipynb_checkpoints
# Virtual environment
Pipfile.lock
Pipfile 
Module2:Open Source LLMs/Ollama_elastic_seacrh.ipynb
Module2:Open Source LLMs/Open-Source_llms.ipynb
Homework2-Open-Source-LLMs/ollama_files